/* место для вашего кода */
html {
  scroll-behavior: smooth;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 94px 50px;
  color: #000;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
}

.header__links-list {
  display: flex;
  gap: 32px;
  max-width: 388px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

/* делаем подчеркивание границей вместо стандартного подчеркивания ссылки*/

.header__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  display: block;
  height: 100%;
  object-fit: contain; /* Значение cover растягивает максимально по ширине, обрезая логотив по высоте. Поэтому для такого ракзмера контейнера выбрал contain */
  object-position: center;
}

.address {
  max-width: 240px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  margin-left: auto;
}

.address__contacts-border-bottom {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex; /* чтобы убрать margin у cover__description и заменить на gap */
  flex-direction: column;
  gap: 135px;
  padding: 165px 50px 50px;
  color: #fff;
  text-transform: uppercase;
  background-color: #4b4b4b; /* Если не загрузится фоновое изображение чтобы был виден текст */
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aligned-text {
  display: inline-block;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 1;
  letter-spacing: 30px;
}

/* Для соответствия макету изменяем  line-height у первой строчки */

.aligned-text_line-height {
  line-height: 1.15;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  word-spacing: 18px;
}

.bet-button {
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  transition: 0.2s;
  cursor: pointer;
}

.bet-button:hover {
  color: #000;
  background-color: #fff;
  transition: 0.2s;
}

.lots {
  margin: 180px 50px;
}

.lots__heading {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin: 27px 0 30px;
}

.lots__card-list_no-bullit {
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 430px;
  min-height: 450px;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-color: #4b4b4b; /* Если не загрузится фоновое изображение чтобы был виден текст */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
}

.lots__look-more-link {
  margin-top: 30px;
  margin-left: 40px;
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  place-content: space-between;
  gap: 25px;
  margin: 0 50px 90px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  display: block;
  max-width: 148px;
  max-height: 114px;
  object-fit: contain;
}

.about__title {
  margin: 100px 0;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text-paragraph {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

.footer {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  padding: 90px 50px;
  font-size: 18px;
}

.footer__menu {
  text-align: center;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__menu-no-bullit {
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
}

.footer__social-list_no-bullit {
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%; /* Для затемнения при :hover */
  transition: 0.2s;
}

.footer__social-link:hover {
  background-color: #b6b6b6;
  transition: 0.2s;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/0.6);
  transition: 0.2s;
}

.card:hover .overlay {
  opacity: 0.3;
  transition: 0.2s;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}
